<ion-header>
  <ion-toolbar>
    <ion-title> <div class="center justify-center flex text-4xl text-white font-bold">Location</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="w-full">
  <img src="../../../assets/maps.jpg">
</div>
<ion-card>
  <ion-card-content>
    <p>Location: Cantt</p>
    <p>City: Lahore</p>
    <p>Country: Pakistan</p>
    <p>Zip Code: 1021</p>
    <p>Postal Code: 9021</p>
  </ion-card-content>
</ion-card>
<ion-list>
  <ion-item lines="insert">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
<ion-button size="full">Add Another Location</ion-button>
</ion-content>
