<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-button (click)="logOut()" slot="end" >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title> <div class="center justify-center flex text-2xl ">Location</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex justify-center">
 <div class="flex-col max-w-xl justify-center shadow-2xl items-center mt-9">
    <img src="../../../assets/maps.jpg">
  </div >
  <div class="flex-col max-w-xl  justify-center shadow-2xl items-center mt-9">

      <ion-item lines="none">
        <p>Location: Cantt</p>
      </ion-item>
      <ion-item lines="none">
        <p>City: Lahore</p>
      </ion-item>
      <ion-item lines="none">
        <p>Country: Pakistan</p>
      </ion-item>
      <ion-item lines="none">
        <p>Zip Code: 1021</p>
      </ion-item>
  
      <ion-item lines="none">
        <p>Postal Code: 9021</p>
      </ion-item>

</div>
    </div>

<div class="flex justify-center ">
<div class="flex ">
<ion-list>
  <ion-item lines="insert">
    <ion-label position="floating">Notes</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
</ion-list>
</div>

</div>
<div class="flex justify-center center items-center">
  <ion-button >Add Another Location</ion-button>
  </div>
 
</ion-content>
