<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-button (click)="logOut()"  slot="end"  >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title><div class="center justify-center flex text-2xl ">Reset Your Password</div></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <form [formGroup]="form">
<ion-card>
 

  <ion-card-content >
   
      <ion-input type="password" label="Old Password: " formControlName="password"></ion-input>
   
    
      <ion-input type="password" label="New Password: " formControlName="newPassword"></ion-input>

      
      <ion-input type="password" label="Confirm Password: " formControlName="confirmPassword"></ion-input>
   
    
  </ion-card-content>
</ion-card>
<div class="flex center justify-center items-center">
  <ion-button id="open-toast" color="warning" [disabled]="!form.valid">Done</ion-button>
</div>

<ion-toast trigger="open-toast" message="Password Changed Successfully!!" [duration]="5000"></ion-toast>
</form>
</ion-content>