<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-button (click)="logOut()" slot="end" color="light" >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-lecture lecture="First Lecture" subject="Programming Fundamentals" 
  date="4/13/2023" time="08:30 AM" detail="BS Computer Science Fall 2019"></app-lecture>
  <app-lecture lecture="Second Lecture" subject="Data Base" 
  date="4/13/2023" time="11:30 AM" detail="BS Software Engineering Fall 2019"></app-lecture>
  <app-lecture lecture="Third Lecture" subject="Data Structures and Algorithm" 
  date="4/13/2023" time="03:30 AM" detail="BS Information Technology Fall 2019"></app-lecture>
  <!-- <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <div class="uppercase font-bold"> First Lecture</div></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="hourglass-outline" slot="start" color="danger"></ion-icon>
      <ion-label>
        Programming Fundamentals
        <p>4/13/2023 08:30 AM</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h4>Class Details</h4>
        <p>BS Computer Science Fall 2019</p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">
      Mark as Done 
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
  </ion-button>
  </ion-card-content>
 </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <div class="uppercase font-bold"> Second Lecture</div></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="download-outline" slot="start" color="warning"></ion-icon>
      <ion-label>
        Data Base
        <p>4/13/2023 11:30 PM</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h4>Class Details</h4>
        <p>BS Software Engineering Fall 2019</p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">
      Mark as Done 
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
  </ion-button>
  </ion-card-content>
 </ion-card>
  <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <div class="uppercase font-bold"> Third Lecture</div></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="download-outline" slot="start" color="primary"></ion-icon>
      <ion-label>
        Data Structures and Algorithm 
        <p>4/13/2023 3:30 PM</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <h4>Class Details</h4>
        <p>BS Information Technology Fall 2019</p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">
      Mark as Done 
      <ion-icon name="checkmark-done-circle-outline"></ion-icon>
  </ion-button>
  </ion-card-content>
 </ion-card> -->
 <div class="justify-center  flex">
 <ion-item lines="none">
  <ion-icon name="checkmark-done-outline" slot="end" color="success"></ion-icon>
  <ion-label color="success">All Done</ion-label>
 </ion-item>
</div>
<p class="transition-none flex justify-center text-sm p-0 m-0">That's great !!</p>
</ion-content>
