ion-toolbar{
    --background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    ion-button{
        --background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
    }
  }
  ion-toolbar{
    ion-button{
      --background: linear-gradient(180deg, #FAB2FF 10%, #1904E5 100%);
    }
  }