<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div>
      <img alt="Login" src="../../assets/login.png" />
    </div>
    <div class="cardHeader">
      <ion-card-header>
        <ion-card-title>Login Page</ion-card-title>
        <ion-card-subtitle>Enter the details below:</ion-card-subtitle>
      </ion-card-header>
    </div>
    <ion-card-content>
      <ion-input label="Enter User Name:" label-placement="floating" fill="solid" placeholder="User Name"></ion-input>

      <br>

      <ion-input label="Enter Password:" label-placement="floating" fill="solid" placeholder="Password"
        type="Password"></ion-input>
      <br>
      <ion-button (click)="logIn()">Login</ion-button>
    </ion-card-content>
  </div>
</ion-content>