<ion-content [fullscreen]="true">

  <div class="main">
    <ion-card>
      <ion-card-content>
        <div class="header">
          <img alt="Login" src="../../assets/login.png" />
        </div>
        <div class="body">
          <ion-card-title>
            <p>Login Page</p>
          </ion-card-title> <br>
          <!-- <ion-card-subtitle>Enter the details below:</ion-card-subtitle> <br> -->
          <ion-input label="Enter User Name:" label-placement="floating" fill="outline"
            placeholder="User Name"></ion-input>

          <br>

          <ion-input label="Enter Password:" label-placement="floating" fill="outline" placeholder="Password"
            type="Password"></ion-input>
          <br>
          <ion-button (click)="logIn()" size="full">Login</ion-button>
          <ion-button size="full" color="light">Register</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>