<ion-content>

  <div class="main">
    <form [formGroup]="form">
    <ion-card>
      <ion-card-content>
        <div class="header">
          <img alt="Login" src="../../assets/login.png" />
        </div>
        <div class="body">
          <ion-card-title>
            <p>Login Page</p>
          </ion-card-title> <br>
          <!-- <ion-card-subtitle>Enter the details below:</ion-card-subtitle> <br> -->
          <ion-input label="Enter Email:" label-placement="floating" fill="outline"
            placeholder="Email" type="email" formControlName="email"></ion-input>

          <br>

          <ion-input label="Enter Password:" label-placement="floating" fill="outline" placeholder="Password"
            type="Password" formControlName="password"></ion-input>
          <br>
          <ion-button color="dark" size="full" fill="clear">Forget email/password</ion-button>
          <ion-button (click)="logIn()" size="full" [disabled]="!form.valid">Login</ion-button>
          <ion-button (click)="register()" size="full" color="light">Register</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </form>
  </div>

</ion-content>