// ion-content {
//     --background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
// }

ion-header ion-toolbar{
    --background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  }
ion-content ion-button{
    --background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  }
  ion-content ion-card{
    --background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  }