<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button title="" icon="caret-back"></ion-back-button>
    </ion-buttons>
    <ion-title><div class="center justify-center flex text-2xl ">Registration</div></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="main"> -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Select your Profession</ion-card-title><br>

    </ion-card-header>
    <ion-card-content>
      <ion-radio-group value="space-between">
        <div class="flex justify-center ">
        <ion-item lines="none">
          <div class="flex-col max-w-xs justify-center shadow-2xl items-center ">
          <img src="../../../assets/teacher.png" alt="Teacher">
          <ion-radio value="TEACHER" justify="space-between" slot="justify-center" >Teacher</ion-radio>
        </div>
        </ion-item>
        <ion-item lines="none">
          <div class="flex-col max-w-xs justify-center shadow-2xl"> 
          <img src="../../../assets/idea.png" alt="Student">
          <ion-radio value="STUDENT" justify="space-between">Student</ion-radio>
        </div>
        </ion-item>
      </div>
      </ion-radio-group>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contact Details</ion-card-title><br>

    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Phone Number</ion-label>
        <ion-input type="tel"></ion-input>
    </ion-item>
      <!-- <ion-input
      type="email"
      fill="solid"
      label="Email"
      labelPlacement="floating"
      helperText="Enter a valid email"
      errorText="Invalid email"
      ngModel 
      email
    ></ion-input> -->
    <!-- <ion-input label="Email" labelPlacement="floating" type="email" ></ion-input>
    <ion-input label="Password" labelPlacement="floating" type="Password"></ion-input>
    <ion-input label="Confirm Password" labelPlacement="floating" type="Password"></ion-input> -->
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
   <ion-card-title>Address Details</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">District</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">City</ion-label>
        <ion-input type="text"></ion-input>
    </ion-item>
      <ion-item>
        <ion-label position="floating">Zip Code</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-list style="text-align:center">
  <ion-button id="registered">Register</ion-button>
  <ion-toast trigger="registered" message="Registration Done!!" [duration]="2000"></ion-toast>
</ion-list>
</ion-content>