<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-list >
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/man.png"/>
    </ion-avatar>
    <ion-label>
      <h1>Mr. Ali</h1>
      <p> <span>Working as Maths and Computer Science Teacher</span> </p>
    </ion-label>
  </ion-item>
 </ion-list>
 <ion-card>
  <ion-card-header>
    <ion-card-subtitle> <div class="uppercase font-bold"> Lecture Time:</div></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
      <ion-label>
        First Lecture
        <p>4/13/2023 05:30 PM</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p>Starting his carrer in 2019</p>
        <p>Now almost have an experience of 4 years of Computer and Mathematics</p>
      </ion-label>
    </ion-item>
    <ion-button color="success" fill="clear" size="full">See All...</ion-button>
  </ion-card-content>
 </ion-card>
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button >
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
