<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-list >
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/man.png"/>
    </ion-avatar>
    <ion-label>
      <h1>Mr. Ali</h1>
      <p> <span>Working as Maths and Computer Science<br>Teacher</span> </p>
      <p>Starting his carrer in 2019</p>
        <p>Now almost have an experience of 4 years <br> of Computer and Mathematics</p>
    </ion-label>
  </ion-item>
 </ion-list>
 <app-lecture [hasHeader]="true" [hasFooter]="true"></app-lecture>

 </ion-content>
