<ion-header >
  <ion-toolbar>
   
    <ion-menu contentId="main-content" slot="secondary">
    
      <ion-content class="ion-padding">This is the menu content.</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
     
        <ion-toolbar>
          <ion-buttons >
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title></ion-title>
        </ion-toolbar>
     
      <ion-content class="ion-padding">
        Tap the button in the toolbar to open the menu.
      </ion-content>
    </div>
    
    <ion-title><div class="center justify-center flex text-2xl ">Home</div></ion-title>
 
      <ion-label slot="end">
      <ion-button id="popover-button"><ion-icon name="settings-outline"></ion-icon></ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content >
      <ion-list>
        <ion-item [button]="true" [detail]="false" (click)="news()">New Feed</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="password()">Change Password</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="logOut()">Log Out
          <ion-icon name="log-out-outline" slot="end"></ion-icon>
        </ion-item>
       
 
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
</ion-label>
    
    

</ion-toolbar>
</ion-header>

<ion-content >
 <ion-list >
  <ion-item>
    
    <ion-label>
      
      <div class="flex flex-row justify-between bg-white">
       
        <div class="flex-col w-2/3 h-2/3 justify-center  items-center">
          <ion-card>
            <ion-card-content>
          <ion-avatar slot="start">
            <img src="../../../assets/man.png"/>
          </ion-avatar>
      <h1>Mr. Ali</h1>
      <p> <span>Working as Maths and Computer Science<br>Teacher</span> </p>
      <p>Starting his carrer in 2019</p>
        <p>Now almost have an experience of 4 years <br> of Computer and Mathematics</p>
      </ion-card-content>
    </ion-card>
      </div>
      <div class="flex w-1/3  justify-center ">
        <ion-datetime></ion-datetime>
    
      </div>
    
      </div>
    </ion-label>
  </ion-item>
 </ion-list>
<div class="flex items-center justify-center">
 <ion-button (click)="goToLocation()" color="success">See Location</ion-button>
</div>
 <app-lecture [hasFooter]="true"></app-lecture>

 </ion-content>
